<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./common.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body style="background:linear-gradient(to bottom,red,green,pink)">
    <h1 style="color: aquamarine;text-align: center">欢迎你,黄琼</h1>
  <h3 style="color: chartreuse">哈哈哈哈</h3>
    <input type="text" placeholder="请输入文字"  style="width: 500px;height: 50px;
    font-size: xx-large;color: red;background-color: green
    ;border-radius: 10px" id="ab" >
  <button onclick="click_alert()">点我</button>

    <script>
        function click_alert(){
        alert(document.getElementById('ab').value)
        }

    </script>
  </body>
</html>